:root {
    --main-bg: rgb(28, 30, 31);
    --secondary-bg: rgb(26, 28, 29);
    --main-color: rgb(192, 188, 179);
    --secondary-color: rgb(255, 255, 255);
    --main-border: #080808;
    --is-active: rgb(0, 255, 0);
    --is-hover: rgb(150, 123, 209);
}

body,
input,
textarea,
select,
.newMain--jss-0-2550,
.valuesListItem--jss-0-303,
.modalContent--jss-0-515,
.addFolder--jss-0-1984 {
    background: var(--main-bg) !important;
    border-color: #575757;
    color: var(--main-color) !important;
}

.libHeadbar--jss-0-3145,
.libItem--jss-0-3111,
.contentCollectionsFooter--jss-0-1010,
.inspectorBoard--jss-0-129>div>div {
    background: var(--main-bg) !important;
}

input,
textarea {
    background: var(--secondary-bg) !important;
}


/* custom hover - need work */

.isHover:not(.treeFold--jss-0-1282):not(.isActive) {
    color: var(--main-bg) !important;
}

a {
    background-color: transparent;
}

input,
optgroup,
select,
textarea {
    color: inherit;
}

.chrome-picker {
    box-shadow: none!important;
}

:focus {
    outline-color: initial;
}

body {
    background-image: initial;
    background-color: var(--main-bg);
}

a:focus {
    outline-color: initial;
}

a:active,
a:hover {
    outline-color: initial;
}

#trace {
    background-image: initial;
    background-color: rgb(39, 41, 43);
    color: rgb(255, 255, 255);
}

body {
    background-image: initial;
    background-color: rgb(27, 29, 30);
}

::placeholder {
    color: rgb(209, 206, 199);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-image: initial;
    background-color: rgb(28, 30, 31);
}

::-webkit-scrollbar-thumb {
    border-color: initial;
    background-image: initial;
    background-color: rgb(43, 45, 47);
    box-shadow: none;
}

.item--jss-0-92 {
    color: rgb(110, 110, 110);
    background-color: rgb(189, 189, 189);
}

.item--jss-0-92:hover {
    color: rgb(255, 255, 255);
}

.item--jss-0-92.active {
    color: rgb(50, 50, 50);
    background-color: #F1F1F1;
}

.tabsContainer--jss-0-97 {
    background-color: rgb(241, 241, 241);
}

.item--jss-0-92 {
    color: rgb(192, 188, 179);
    background-color: rgb(43, 46, 48);
}

.item--jss-0-92:hover {
    color: rgb(255, 255, 255);
}

.item--jss-0-92.active {
    color: rgb(214, 211, 205);
    background-color: rgb(28, 30, 31);
}

.tabsContainer--jss-0-97 {
    background-color: rgb(28, 30, 31);
}

.tabContent--jss-0-109 {
    background-color: rgb(241, 241, 241);
}

.tabContent--jss-0-109 {
    background-color: rgb(28, 30, 31);
}

.inspector--jss-0-120 {
    border-bottom: 1px solid rgb(189, 189, 189);
}

.inspector--jss-0-120:hover {
    background-color: rgb(249, 249, 249);
}

.inspector--jss-0-120.open:hover {
    background-color: rgb(241, 241, 241);
}

.inspectorTitle--jss-0-125 {
    color: rgb(130, 130, 130);
}

.inspector--jss-0-120 {
    border-bottom-color: rgb(64, 64, 64);
}

.inspector--jss-0-120:hover {
    background-color: rgb(26, 28, 29);
}

.inspector--jss-0-120.open:hover {
    background-color: rgb(28, 30, 31);
}

.inspectorTitle--jss-0-125 {
    color: rgb(186, 181, 171);
}

.propGroupTitle--jss-0-132 {
    color: rgb(189, 189, 189);
}

.grouptTitleSeam--jss-0-133 {
    border-bottom: 1px dotted rgb(189, 189, 189);
}

.propGroupTitle__locale--jss-0-134 {
    border: 1px solid rgb(189, 189, 189);
    background-color: rgb(241, 241, 241);
    color: rgb(130, 130, 130);
}

.propGroupTitle--jss-0-132 {
    color: rgb(196, 191, 182);
}

.grouptTitleSeam--jss-0-133 {
    border-bottom-color: rgb(64, 64, 64);
}

.propGroupTitle__locale--jss-0-134 {
    border-color: rgb(64, 64, 64);
    background-color: rgb(28, 30, 31);
    color: rgb(186, 181, 171);
}

.inputElement--jss-0-140 {
    color: rgb(130, 130, 130);
}

.inputElement--jss-0-140:disabled {
    background-color: rgb(214, 214, 214);
}

.inputElement--jss-0-140 {
    color: rgb(186, 181, 171);
}

.inputElement--jss-0-140:focus {
    outline-color: initial;
}

.inputElement--jss-0-140:disabled {
    background-color: rgb(36, 38, 40);
}

.inputTextWrap--jss-0-145 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
}

.inputTextWrap--jss-0-145:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
}

.inputTextWrap--jss-0-145 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputTextWrap--jss-0-145:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.selectElement--jss-0-203 {
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.selectElement--jss-0-203 {
    color: rgb(186, 181, 171);
}

.inputSelectWrap--jss-0-209 {
    background-color: rgb(248, 248, 248);
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
}

.inputSelectWrap--jss-0-209:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.selectLabel--jss-0-216 {
    color: rgb(189, 189, 189);
}

.inputWrap--jss-0-208 {
    border-color: transparent;
}

.inputSelectWrap--jss-0-209 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputSelectWrap--jss-0-209:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.selectLabel--jss-0-216 {
    color: rgb(196, 191, 182);
}


/* limpar */

.itemTitle--jss-0-218 {
    background-color: rgb(50, 50, 50);
    color: rgb(240, 240, 240);
    border-radius: 1px;
    padding: 5px;
    position: absolute;
    transform: translateY(-110%);
    z-index: 0;
    visibility: hidden;
    transition: all 0.1s linear 0s;
    pointer-events: none;
    opacity: 0.5;
}

.itemTitle--jss-0-218:after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border-color: rgb(50, 50, 50);
    border-width: 10px;
    border-style: solid;
    white-space: nowrap;
}

.itemTitle--jss-0-218.tl {
    top: -10px;
    left: 0px;
}

.itemTitle--jss-0-218.tl:after {
    left: 5px;
    top: 100%;
    border-width: 5px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.itemTitle--jss-0-218 {
    background-color: rgb(48, 50, 53);
    color: rgb(242, 241, 239);
}

.itemTitle--jss-0-218::after {
    border-color: rgb(92, 92, 92);
}

.itemTitle--jss-0-218.tl::after {
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.inputWrap--jss-0-228 {
    position: relative;
    border: 3px solid transparent;
}

.inputUnitsWrap--jss-0-229 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputUnitsWrap--jss-0-229:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.inputUnits--jss-0-232 {
    display: flex;
    align-items: center;
}

.inputValue--jss-0-233 {
    flex: 1;
}

.inputUnitsLabel--jss-0-235 {
    font-size: 10px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(189, 189, 189);
    padding: 3px;
    text-transform: uppercase;
}

.inputWrap--jss-0-228 {
    border-color: transparent;
}

.inputUnitsWrap--jss-0-229 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputUnitsWrap--jss-0-229:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.inputUnitsLabel--jss-0-235 {
    color: rgb(196, 191, 182);
}

.gridItem--jss-0-237 {
    display: flex;
    flex: 1;
    height: auto;
    flex-flow: column nowrap;
}

.gridLabel--jss-0-238 {
    font-size: 10px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(189, 189, 189);
    padding: 3px;
    text-transform: uppercase;
    flex: 0 0 auto;
    width: 100%;
}

.gridLabel--jss-0-238 {
    color: rgb(196, 191, 182);
}

.grid--jss-0-239 {
    display: flex;
    flex: 1 1 auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.buttonGroup__item--jss-0-247 {
    font-size: 10px;
    line-height: 1em;
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    cursor: pointer;
    border-radius: 1px;
    position: relative;
    z-index: 1;
}

.buttonGroup__itemLabel--jss-0-250 {
    padding: 8px 5px;
    display: block;
    background-color: rgb(241, 241, 241);
}

.buttonGroup__itemLabel--jss-0-250.active {
    background-color: rgb(128, 255, 128);
    color: rgb(50, 50, 50);
    box-shadow: none;
}

.buttonGroup__itemLabel--jss-0-250.inherited {
    background-color: rgb(215, 205, 238);
    color: rgb(50, 50, 50);
}

.buttonGroup__itemFirst--jss-0-255 {
    font-size: 10px;
    line-height: 1em;
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    cursor: pointer;
    border-radius: 1px;
    position: relative;
    z-index: 1;
    border-left-width: 0px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
}

.buttonGroup__itemLast--jss-0-258 {
    font-size: 10px;
    line-height: 1em;
    flex: 1 1 auto;
    text-align: center;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    cursor: pointer;
    border-radius: 1px;
    position: relative;
    z-index: 1;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.buttonGroup__itemLabel--jss-0-250 {
    background-color: rgb(28, 30, 31);
}

.buttonGroup__itemLabel--jss-0-250.active {
    background-color: rgb(0, 127, 0);
    color: rgb(214, 211, 205);
    box-shadow: none;
}

.buttonGroup__itemLabel--jss-0-250.inherited {
    background-color: rgb(38, 41, 43);
    color: rgb(214, 211, 205);
}

.buttonGroup--jss-0-270 {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid rgb(227, 227, 227);
    border-bottom: 0px;
    border-radius: 1px;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    padding: 2px;
}

.buttonGroup--jss-0-270 {
    border-top-color: rgb(57, 57, 57);
    border-right-color: rgb(57, 57, 57);
    border-left-color: rgb(57, 57, 57);
    border-bottom-color: initial;
    background-color: rgb(27, 29, 30);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputWrap--jss-0-344 {
    position: relative;
    border: 3px solid transparent;
}

.inputNumberWrap--jss-0-345 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputNumberWrap--jss-0-345:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.inputElement--jss-0-349 {
    -webkit-appearance: none;
    outline: none;
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin: 0px;
    padding: 0 3px;
    border: 1px solid transparent;
    border-radius: 1px;
    vertical-align: middle;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    font-size: 12px;
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.inputElement--jss-0-349:focus {
    outline: none;
}

.inputElement--jss-0-349:hover {
    cursor: text;
}

.inputElement--jss-0-349:disabled {
    background-color: rgb(214, 214, 214);
}

.textLabel--jss-0-353 {
    font-size: 10px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(189, 189, 189);
    padding: 3px;
    text-transform: uppercase;
}

.inputWrap--jss-0-344 {
    border-color: transparent;
}

.inputNumberWrap--jss-0-345 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputNumberWrap--jss-0-345:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.inputElement--jss-0-349 {
    outline-color: initial;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: rgb(186, 181, 171);
}

.inputElement--jss-0-349:focus {
    outline-color: initial;
}

.inputElement--jss-0-349:disabled {
    background-color: rgb(36, 38, 40);
}

.textLabel--jss-0-353 {
    color: rgb(196, 191, 182);
}

.trblSet--jss-0-369 {
    border: 1px dashed rgb(189, 189, 189);
    position: relative;
    height: 80px;
    width: 60%;
    margin: 20px auto;
}

.trblSet__ItemTop--jss-0-372 {
    display: flex;
    position: absolute;
    width: 60%;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.trblSet__ItemRight--jss-0-373 {
    display: flex;
    position: absolute;
    width: 60%;
    right: -30%;
    top: 50%;
    transform: translateY(-50%);
}

.trblSet__ItemBottom--jss-0-374 {
    display: flex;
    position: absolute;
    width: 60%;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.trblSet__ItemLeft--jss-0-375 {
    display: flex;
    position: absolute;
    width: 60%;
    left: -30%;
    top: 50%;
    transform: translateY(-50%);
}

.trblSet--jss-0-369 {
    border-color: rgb(64, 64, 64);
}

.seam--jss-0-376 {
    height: 0px;
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.seam--jss-0-376 {
    border-top-color: rgba(102, 102, 102, 0.12);
    border-bottom-color: rgba(51, 51, 51, 0.15);
}

.swatchesColor--jss-0-395 {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.swatchesColor--jss-0-395:hover {
    opacity: 0.8;
}

.swatchesWrapper--jss-0-398 {
    display: flex;
    border-top: 1px solid #f1f1f1;
    width: 100%;
    justify-content: space-around;
    padding: 4px;
    align-items: center;
    height: 40px;
    background: var(--secondary-color);
}

.inputWrap--jss-0-399 {
    position: relative;
    border: 3px solid transparent;
}

.inputColorWrap--jss-0-400 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputColorWrap--jss-0-400:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.colorLabel--jss-0-404 {
    font-size: 10px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(189, 189, 189);
    padding: 3px;
    text-transform: uppercase;
}

.swatchesColor--jss-0-395 {
    border-color: rgb(58, 58, 58);
}

.swatchesWrapper--jss-0-398 {
    border-top-color: rgb(54, 54, 54);
    background-image: initial;
    background-color: var(--main-bg);
}

.inputWrap--jss-0-399 {
    border-color: transparent;
}

.inputColorWrap--jss-0-400 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputColorWrap--jss-0-400:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.colorLabel--jss-0-404 {
    color: rgb(196, 191, 182);
}

.positionPreset__item--jss-0-440 {
    cursor: pointer;
    flex: none;
    padding: 10px;
}

.positionPreset--jss-0-442 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.actions--jss-0-456 {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.action--jss-0-457 {
    padding: 4px;
    display: inline-block;
}

.action--jss-0-457:hover {
    background-color: rgb(255, 255, 255);
}

.inputImageWrap--jss-0-459 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputImageWrap--jss-0-459:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.dropZonePreview--jss-0-464 {
    position: relative;
    width: 100%;
    min-height: 100px;
    border-radius: 1px;
    color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.dropZonePreview--jss-0-464:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(241, 241, 241, 0.2);
}

.action--jss-0-457:hover {
    background-color: var(--main-bg);
}

.inputImageWrap--jss-0-459 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputImageWrap--jss-0-459:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.dropZonePreview--jss-0-464 {
    color: rgb(214, 211, 205);
}

.dropZonePreview--jss-0-464::before {
    background-color: rgba(28, 30, 31, 0.2);
}

.InputSwitch--jss-0-476 {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

.Inputlabel--jss-0-477 {
    flex: 1 0 auto;
    margin-left: 10px;
}

.InputSwitchTrack--jss-0-479 {
    box-shadow: inset 0 0 0 0px rgb(189, 189, 189);
}

.InputSwitchKnob--jss-0-481 {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background-color: rgb(255, 255, 255);
    transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    transition-duration: 0.4s;
    transition-property: transform;
    box-shadow: 0px 0px 3px rgb(189, 189, 189), 0px 0px 0 1px rgb(189, 189, 189);
    pointer-events: none;
}

.InputSwitchTrack--jss-0-479 {
    border-color: rgb(64, 64, 64);
    background-color: rgb(27, 29, 30);
    box-shadow: rgb(43, 46, 48) 0px 0px 0px 0px inset;
}

.InputSwitchKnob--jss-0-481 {
    background-color: var(--main-bg);
    box-shadow: rgb(43, 46, 48) 0px 0px 3px, rgb(43, 46, 48) 0px 0px 0px 1px;
}

.inspectors--jss-0-511 {
    flex: 1;
}

.wrap--jss-0-667 {
    color: white;
}

.wrapLeft--jss-0-668 {
    color: #666;
}

.sideButtonSettings--jss-0-671 {
    border-right: 1px solid rgb(42, 42, 42);
}

.sideButtonSettings--jss-0-671:hover {
    color: rgb(240, 240, 240);
    background-color: rgb(42, 42, 42);
}

.controlIcon--jss-0-677:hover {
    opacity: 0.3;
    color: rgb(240, 240, 240);
}

.screenPreview--jss-0-679:hover {
    opacity: 1;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.wrap--jss-0-667 {
    color: rgb(255, 255, 255);
}

.wrapLeft--jss-0-668 {
    color: rgb(195, 191, 182);
}

.sideButtonSettings--jss-0-671 {
    border-right-color: rgb(94, 94, 94);
}

.sideButtonSettings--jss-0-671:hover {
    color: rgb(242, 241, 239);
    background-color: rgb(40, 42, 44);
}

.controlIcon--jss-0-677:hover {
    color: rgb(242, 241, 239);
}

.screenPreview--jss-0-679:hover {
    color: rgb(214, 211, 205);
    background-color: var(--main-bg);
    border-color: rgb(51, 51, 51);
}

.inputTextArea--jss-0-877 {
    background-color: white;
}

.inputTextArea--jss-0-877 textarea {
    border: 1px solid transparent;
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline: none;
}

.inputTextArea--jss-0-877 textarea:hover {
    cursor: text;
}

.inputTextAreaLabel--jss-0-882 {
    font-size: 10px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(110, 110, 110);
}

.inputTextArea--jss-0-877 {
    background-color: var(--main-bg);
}

.inputTextArea--jss-0-877 textarea {
    outline-color: initial;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: rgb(186, 181, 171);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline-color: initial;
}

.inputTextAreaLabel--jss-0-882 {
    color: rgb(192, 188, 179);
}

.inspectors--jss-0-941 {
    flex: 1;
}

.elementPathNode--jss-0-1106 {
    color: rgb(163, 163, 163);
}

.elementPathNode--jss-0-1106.isActive {
    color: rgb(50, 50, 50);
}

.elementPathNode--jss-0-1106:hover {
    color: rgb(50, 50, 50);
}

.elementPathNode--jss-0-1106 {
    color: rgb(186, 181, 171);
}

.elementPathNode--jss-0-1106.isActive {
    color: rgb(214, 211, 205);
}

.elementPathNode--jss-0-1106:hover {
    color: rgb(214, 211, 205);
}

.tree--jss-0-1262 {
    color: rgb(110, 110, 110);
}

.treeActionsRight--jss-0-1271 {
    color: rgb(189, 189, 189);
    display: flex;
}

.treeActionsRight--jss-0-1271:hover {
    color: rgb(23, 21, 28);
}

.treeDropIndicator--jss-0-1273 {
    height: 2px;
    position: relative;
    background-color: transparent;
    z-index: 100;
}

.treeItem--jss-0-1278 {
    flex: 1;
    z-index: 100;
    border-bottom: 1px solid rgb(222, 222, 222);
    position: relative;
}

.treeItem--jss-0-1278.active {
    background: rgb(255, 255, 255);
}

.treeFold--jss-0-1282 {
    padding: 0;
    height: 12px;
    width: 12px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(50, 50, 50);
    position: absolute;
    top: 10px;
    left: 0px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}

.treeFold--jss-0-1282:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.treeIcon--jss-0-1285 {
    flex: 0 0 16px;
    margin: 0 5px;
    padding: 0;
    height: 16px;
    width: 16px;
    position: relative;
    color: rgb(130, 130, 130);
}

.treeIcon--jss-0-1285.isActive {
    color: rgb(0, 255, 0);
}

.tree--jss-0-1262 {
    color: rgb(192, 188, 179);
}

.treeActionsRight--jss-0-1271 {
    color: rgb(196, 191, 182);
}

.treeActionsRight--jss-0-1271:hover {
    color: rgb(223, 220, 215);
}

.treeDropIndicator--jss-0-1273 {
    background-color: transparent;
}

.treeItem--jss-0-1278 {
    border-bottom-color: rgb(58, 58, 58);
}

.treeItem--jss-0-1278.active {
    background-image: initial;
    background-color: var(--main-bg);
}

.treeFold--jss-0-1282 {
    background-color: var(--main-bg);
    color: rgb(214, 211, 205);
}

.treeFold--jss-0-1282:hover {
    background-color: rgb(48, 50, 53);
    color: rgb(255, 255, 255);
}

.treeIcon--jss-0-1285 {
    color: rgb(186, 181, 171);
}

.treeIcon--jss-0-1285.isActive {
    color: rgb(51, 255, 51);
}

.treeWrap--jss-0-1366 {
    font-size: 12px;
    flex: 1;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(23, 21, 28);
    padding-bottom: 100px;
    position: absolute;
    min-width: 100%;
}

.treeWrap--jss-0-1366 {
    color: rgb(223, 220, 215);
}

.screenPreviewWrap--jss-0-3319 {
    z-index: 20000;
    display: flex;
    position: fixed;
    width: 120px;
    top: 10px;
    right: 20px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
}

.screenPreviewLanguage--jss-0-3320 {
    color: var(--secondary-color);
    text-align: center;
    padding: 5px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.screenPreviewBreakpoint--jss-0-3321 {
    color: var(--secondary-color);
    text-align: center;
    padding: 5px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.screenPreview--jss-0-3322 {
    color: var(--secondary-color);
}

.workspace--jss-0-3326 {
    background-color: rgb(255, 255, 255);
}

.rightEdge--jss-0-3327 {
    background-color: rgb(241, 241, 241);
    border-left: 1px solid rgb(214, 214, 214);
}

.wksTopBar--jss-0-3329 {
    background-color: #2D2D2D;
    border-bottom: 1px solid #000;
}

.wksPlayground--jss-0-3331 {
    background-color: rgb(240, 240, 240);
}

.wksBottomBar--jss-0-3335 {
    background-color: rgb(241, 241, 241);
    border-top: 1px solid rgb(214, 214, 214);
}

.loadingOverlay--jss-0-3336 {
    background: rgba(32, 33, 35, 0.7);
}

.docmap--jss-0-3342 {
    background-color: rgb(232, 232, 232);
}

.docmapExpand--jss-0-3345 {
    background-color: #ccc;
}

.stage--jss-0-3367 {
    background-color: rgb(255, 255, 255);
}

.stage--jss-0-3367:before {
    background-color: rgb(240, 240, 240);
}

.iframe--jss-0-3374 {
    background-color: rgb(255, 255, 255);
}

.docmapTrigger--jss-0-3375 {
    border-right: 1px solid rgb(214, 214, 214);
}

.docmapToggle--jss-0-3376:hover {
    color: rgb(50, 50, 50);
}

.canvasOperations--jss-0-3380 {
    border-left: 1px solid rgb(214, 214, 214);
}

.canvasOperationsButton--jss-0-3381:hover {
    color: rgb(50, 50, 50);
}

.panelHeader__Element--jss-0-3386 {
    border: 1px solid #ddd;
}

.panelHeader__Operations--jss-0-3388 {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.gridBox--jss-0-3402 {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px rgba(255, 0, 0, 0.2);
}

.screenPreviewWrap--jss-0-3319 {
    background-color: rgba(0, 0, 0, 0.4);
}

.screenPreviewLanguage--jss-0-3320 {
    color: rgb(255, 255, 255);
}

.screenPreviewBreakpoint--jss-0-3321 {
    color: rgb(255, 255, 255);
}

.screenPreview--jss-0-3322 {
    color: rgb(255, 255, 255);
}

.workspace--jss-0-3326 {
    background-color: var(--main-bg);
}

.rightEdge--jss-0-3327 {
    background-color: rgb(28, 30, 31);
    border-left-color: rgb(59, 59, 59);
}

.wksTopBar--jss-0-3329 {
    background-color: rgb(43, 45, 47);
    border-bottom-color: rgb(102, 102, 102);
}

.wksPlayground--jss-0-3331 {
    background-color: rgb(28, 30, 31);
}

.wksBottomBar--jss-0-3335 {
    background-color: rgb(28, 30, 31);
    border-top-color: rgb(59, 59, 59);
}

.loadingOverlay--jss-0-3336 {
    background-image: initial;
    background-color: rgba(32, 34, 35, 0.7);
}

.docmap--jss-0-3342 {
    background-color: rgb(31, 33, 34);
}

.docmapExpand--jss-0-3345 {
    background-color: rgb(39, 41, 43);
}

.stage--jss-0-3367 {
    background-color: var(--main-bg);
}

.stage--jss-0-3367::before {
    background-color: rgb(28, 30, 31);
}

.iframe--jss-0-3374 {
    background-color: var(--main-bg);
}

.docmapTrigger--jss-0-3375 {
    border-right-color: rgb(59, 59, 59);
}

.docmapToggle--jss-0-3376:hover {
    color: rgb(214, 211, 205);
}

.canvasOperations--jss-0-3380 {
    border-left-color: rgb(59, 59, 59);
}

.canvasOperationsButton--jss-0-3381:hover {
    color: rgb(214, 211, 205);
}

.panelHeader__Element--jss-0-3386 {
    border-color: rgb(58, 58, 58);
}

.panelHeader__Operations--jss-0-3388 {
    border-bottom-color: rgb(51, 51, 51);
}

.gridBox--jss-0-3402 {
    box-shadow: rgba(204, 0, 0, 0.2) 0px 0px 0px 1px inset;
}

.treeItem--jss-0-1907 {
    flex: 1;
    z-index: 1;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.treeItem--jss-0-1907.active {
    background: rgb(128, 255, 128);
}

.treeLabel--jss-0-1916:focus {
    background-color: rgb(255, 255, 255);
}

.treeActionsRight--jss-0-1918 {
    width: 30px;
    color: rgb(189, 189, 189);
}

.treeItem--jss-0-1907 {
    border-bottom-color: rgb(58, 58, 58);
}

.treeItem--jss-0-1907.isHome {
    border-bottom-color: initial;
}

.treeItem--jss-0-1907.active {
    background-image: initial;
    background-color: rgb(0, 127, 0);
}

.treeLabel--jss-0-1916:focus {
    background-color: rgb(24, 26, 27);
}

.treeActionsRight--jss-0-1918 {
    color: rgb(196, 191, 182);
}


/* css for editor projects */

.listItem--jss-0-2422:hover {
    background-color: var(--secondary-bg);
}

.project--jss-0-3595 {
    border-color: rgb(189, 189, 189);
    background-color: rgb(255, 255, 255);
}

.projectRoles--jss-0-3599 {
    color: #666;
}

.projectInfo--jss-0-3600 {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(189, 189, 189);
}

.projectName--jss-0-3606 {
    color: rgb(50, 50, 50);
}

.projectMgmt--jss-0-3608 {
    background-color: rgb(240, 240, 240);
}

.projectMgmtAction--jss-0-3610 {
    border: 1px solid rgb(189, 189, 189);
    color: rgb(130, 130, 130);
}

.projectMgmtAction--jss-0-3610:hover {
    cursor: pointer;
    border: 1px solid rgb(110, 110, 110);
    background-color: rgb(130, 130, 130);
    color: var(--secondary-color);
}

.projectsItem--jss-0-3594 {
    text-decoration-color: initial;
}

.project--jss-0-3595 {
    text-decoration-color: initial;
    border-color: rgb(64, 64, 64);
    background-color: rgb(24, 26, 27);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

.projectRoles--jss-0-3599 {
    color: rgb(195, 191, 182);
}

.projectInfo--jss-0-3600 {
    background-color: rgb(24, 26, 27);
    border-bottom-color: rgb(64, 64, 64);
}

.projectName--jss-0-3606 {
    color: rgb(214, 211, 205);
}

.projectMgmt--jss-0-3608 {
    background-color: rgb(28, 30, 31);
}

.projectMgmtAction--jss-0-3610 {
    border-color: rgb(64, 64, 64);
    color: rgb(186, 181, 171);
}

.projectMgmtAction--jss-0-3610:hover {
    border-color: rgb(80, 80, 80);
    background-color: rgb(60, 64, 66);
    color: rgb(255, 255, 255);
}

.projectsList--jss-0-3646 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: -40px;
    margin: 0 auto;
}


/* css for project settings */

a {
    background-color: transparent;
}

input,
select,
textarea {
    color: inherit;
}

:focus {
    outline-color: initial;
}

a,
a:visited {
    color: rgb(195, 191, 182);
}

a:hover {
    color: rgb(232, 230, 227);
}

a:focus {
    outline-color: initial;
}

a:active,
a:hover {
    outline-color: initial;
}

::placeholder {
    color: rgb(209, 206, 199);
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-image: initial;
    background-color: rgb(28, 30, 31);
}

::-webkit-scrollbar-thumb {
    border-color: initial;
    background-image: initial;
    background-color: rgb(43, 45, 47);
    box-shadow: none;
}

.small--jss-0-10 {
    width: 16px;
    height: 16px;
}

.small--jss-0-10 svg {
    display: block;
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.tiny--jss-0-14 {
    width: 8px;
    height: 8px;
}

.tiny--jss-0-14 svg {
    display: block;
    fill: currentColor;
    width: 8px;
    height: 8px;
}

.small--jss-0-10 svg {
    fill: currentcolor;
}

.tiny--jss-0-14 svg {
    fill: currentcolor;
}

.selectElement--jss-0-203 {
    -webkit-appearance: none;
    outline: none;
    height: 24px;
    line-height: 24px;
    width: 100%;
    margin: 0px;
    padding: 0 3px;
    border: 1px solid transparent;
    border-radius: 1px;
    vertical-align: middle;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    font-size: 12px;
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.selectElement--jss-0-203:focus {
    outline: none;
}

.selectElement--jss-0-203:hover {
    cursor: pointer;
}

.selectElement--jss-0-203 {
    outline-color: initial;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: rgb(186, 181, 171);
}

.selectElement--jss-0-203:focus {
    outline-color: initial;
}

.inputWrap--jss-0-208 {
    position: relative;
    border: 3px solid transparent;
}

.inputSelectWrap--jss-0-209 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputSelectWrap--jss-0-209:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.inputSelect--jss-0-212 {
    position: relative;
}

.selectIndicator--jss-0-217 {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    pointer-events: none;
}

.inputWrap--jss-0-208 {
    border-color: transparent;
}

.inputSelectWrap--jss-0-209 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputSelectWrap--jss-0-209:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.gridItem--jss-0-237 {
    display: flex;
    flex: 1;
    height: auto;
    flex-flow: column nowrap;
}

.grid--jss-0-239 {
    display: flex;
    flex: 1 1 auto;
    height: auto;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.inputCheckboxLabel--jss-0-242 {
    cursor: pointer;
    margin-left: 5px;
    font-family: 'Nitti', 'Lucida Console', sans-serif;
    color: rgb(110, 110, 110);
}

.inputCheckboxToggle--jss-0-243 {
    cursor: pointer;
    color: rgb(110, 110, 110);
}

.inputCheckboxLabel--jss-0-242 {
    color: rgb(192, 188, 179);
}

.inputCheckboxToggle--jss-0-243 {
    color: rgb(192, 188, 179);
}

.row--jss-0-296 {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    align-items: center;
    min-height: 26px;
    margin-left: -10px;
}

.rowItemAuto--jss-0-297 {
    flex: 1 1;
    margin-left: 10px;
}

.rowItemFixed--jss-0-298 {
    flex: none;
    margin-left: 10px;
}

.valuesListItem--jss-0-303 {
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    margin-top: 2px;
    display: flex;
}

.valuesListItem__drag--jss-0-307 {
    padding: 3px;
    opacity: 0.5;
    cursor: -webkit-grab;
}

.valuesListItem__delete--jss-0-309 {
    padding: 3px;
    opacity: 0.5;
    cursor: pointer;
}

.valuesListItem__label--jss-0-311 {
    font-size: 10px;
}

.valuesListItem--jss-0-303 {
    background-color: rgb(24, 26, 27);
}

.valuesList--jss-0-323 {
    background-color: rgb(227, 227, 227);
    border-radius: 1px;
    margin: 5px 0;
}

.valuesList--jss-0-323 {
    background-color: rgb(32, 34, 36);
}

.actions--jss-0-456 {
    display: flex;
    height: 20px;
    align-items: center;
    justify-content: center;
}

.action--jss-0-457 {
    padding: 4px;
    display: inline-block;
}

.action--jss-0-457:hover {
    background-color: rgb(255, 255, 255);
}

.inputImageWrap--jss-0-459 {
    border: 1px solid transparent;
    background-color: rgb(248, 248, 248);
    border-radius: 1px;
    box-shadow: 0 1px 0 0 rgb(214, 214, 214);
    transition: box-shadow 0.2s linear;
    position: relative;
}

.inputImageWrap--jss-0-459:hover {
    box-shadow: 0 0 0 2px rgb(214, 214, 214);
    transition: box-shadow 0.1s linear;
}

.dropZonePreview--jss-0-464 {
    position: relative;
    width: 100%;
    min-height: 100px;
    border-radius: 1px;
    color: rgb(50, 50, 50);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.dropZonePreview--jss-0-464:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(241, 241, 241, 0.2);
}

.action--jss-0-457:hover {
    background-color: rgb(24, 26, 27);
}

.inputImageWrap--jss-0-459 {
    border-color: transparent;
    background-color: rgb(26, 28, 29);
    box-shadow: rgb(36, 38, 40) 0px 1px 0px 0px;
}

.inputImageWrap--jss-0-459:hover {
    box-shadow: rgb(36, 38, 40) 0px 0px 0px 2px;
}

.dropZonePreview--jss-0-464 {
    color: rgb(214, 211, 205);
}

.dropZonePreview--jss-0-464::before {
    background-color: rgba(28, 30, 31, 0.2);
}

.modalStyle--jss-0-512 {
    position: absolute;
    z-index: 1001;
    box-shadow: 4px 20px 30px rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
}

.modalTitle--jss-0-513 {
    flex: 1 0;
    flex-basis: 30px;
    font-size: 10px;
    color: rgb(130, 130, 130);
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    background-color: rgb(50, 50, 50);
    justify-content: space-between;
}

.modalContent--jss-0-515 {
    flex: 1 auto;
    max-width: 800px;
    min-width: 230px;
    min-height: 300px;
    overflow-y: auto;
    background-color: rgb(240, 240, 240);
}

.modalTitleLabel--jss-0-517 {
    flex: 0 0 auto;
    color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 3px 10px;
    letter-spacing: 0.05em;
}

.modalTitleClose--jss-0-518 {
    flex: 0 0 auto;
    cursor: pointer;
    align-self: center;
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalTitleClose--jss-0-518:hover {
    color: rgb(23, 21, 28);
    background-color: rgb(0, 255, 0);
}

.modalStyle--jss-0-512 {
    box-shadow: rgb(48, 50, 53) 4px 20px 30px;
}

.modalTitle--jss-0-513 {
    color: rgb(186, 181, 171);
    background-color: rgb(48, 50, 53);
}

.modalContent--jss-0-515 {
    background-color: rgb(28, 30, 31);
}

.modalTitleLabel--jss-0-517 {
    color: rgb(255, 255, 255);
}

.modalTitleClose--jss-0-518 {
    color: rgb(255, 255, 255);
}

.modalTitleClose--jss-0-518:hover {
    color: rgb(223, 220, 215);
    background-color: rgb(0, 204, 0);
}

.inputPlainText--jss-0-858 {
    border-color: rgb(240, 240, 240);
}

.inputPlainText--jss-0-858:focus {
    outline: none;
    border: 1px solid rgb(189, 189, 189);
}

.inputPlainText--jss-0-858 {
    border-color: rgb(54, 54, 54);
}

.inputPlainText--jss-0-858:focus {
    outline-color: initial;
    border-color: rgb(64, 64, 64);
}

.inputTextArea--jss-0-877 {
    background-color: white;
}

.inputTextArea--jss-0-877 textarea {
    border: 1px solid transparent;
    border-radius: 1px;
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline: none;
}

.inputTextArea--jss-0-877 textarea:hover {
    cursor: text;
}

.inputTextAreaLabel--jss-0-882 {
    color: rgb(110, 110, 110);
}

.inputTextArea--jss-0-877 {
    background-color: rgb(24, 26, 27);
}

.inputTextArea--jss-0-877 textarea {
    outline-color: initial;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: rgb(186, 181, 171);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline-color: initial;
}

.inputTextAreaLabel--jss-0-882 {
    color: rgb(192, 188, 179);
}

.fieldLabel--jss-0-901 {
    color: rgb(110, 110, 110);
}

.microCopy--jss-0-905 {
    color: rgb(130, 130, 130);
}

.fieldLabel--jss-0-901 {
    color: rgb(192, 188, 179);
}

.microCopy--jss-0-905 {
    color: rgb(186, 181, 171);
}

.noResults--jss-0-910 {
    color: rgb(240, 240, 240);
}

.results_wrapper--jss-0-920 {
    background: rgb(130, 130, 130);
    border: 1px solid #444;
    box-shadow: 0px 0px 5px #999;
}

.noResults--jss-0-910 {
    color: rgb(242, 241, 239);
}

.results_wrapper--jss-0-920 {
    background-image: initial;
    background-color: rgb(60, 64, 66);
    border-color: rgb(88, 88, 88);
    box-shadow: rgb(53, 57, 59) 0px 0px 5px;
}

.newMain--jss-0-2550 {
    background-color: rgb(245, 245, 245);
}

.newMain--jss-0-2550 {
    background-color: rgb(27, 29, 30);
}


/* custom css push notifications */

.button--jss-0-16 {
    color: rgb(255, 255, 255);
    background: rgb(110, 110, 110);
    border: 1px solid transparent;
}

.button--jss-0-16:hover {
    background-color: rgb(0, 255, 0);
    border-color: rgb(0, 255, 0);
}

.button--jss-0-16:focus {
    outline: none;
    border-color: rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

.button--jss-0-16:active {
    transform: translateY(1px);
}

.button--jss-0-16:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.buttonLabel--jss-0-31 {
    flex: 1 1 auto;
}

.button--jss-0-16 {
    outline-color: initial;
    color: rgb(255, 255, 255);
    background-image: initial;
    background-color: rgb(61, 64, 67);
    border-color: transparent;
}

.button--jss-0-16:hover {
    background-color: rgb(0, 204, 0);
    border-color: rgb(0, 204, 0);
}

.button--jss-0-16:focus {
    outline-color: initial;
    border-color: rgb(0, 204, 0);
    background-color: rgb(0, 204, 0);
}

.inputCheckboxLabel--jss-0-242 {
    color: rgb(110, 110, 110);
}

.inputCheckboxToggle--jss-0-243 {
    cursor: pointer;
    color: rgb(110, 110, 110);
}

.inputCheckboxLabel--jss-0-242 {
    color: rgb(192, 188, 179);
}

.inputCheckboxToggle--jss-0-243 {
    color: rgb(192, 188, 179);
}

.inputPlainText--jss-0-858 {
    border: 0px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
}

.inputPlainText--jss-0-858:focus {
    outline: none;
    border: 1px solid rgb(189, 189, 189);
}

.inputPlainText--jss-0-858 {
    border-color: rgb(54, 54, 54);
}

.inputPlainText--jss-0-858:focus {
    outline-color: initial;
    border-color: rgb(64, 64, 64);
}

.inputTextArea--jss-0-877 {
    align-items: center;
    background-color: white;
    border-radius: 1px;
}

.inputTextArea--jss-0-877 textarea {
    -webkit-appearance: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 1px;
    background: none;
    background-color: transparent;
    color: rgb(130, 130, 130);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline: none;
}

.inputTextArea--jss-0-877 textarea:hover {
    cursor: text;
}

.inputTextAreaLabel--jss-0-882 {
    color: rgb(110, 110, 110);
}

.inputTextArea--jss-0-877 {
    background-color: rgb(24, 26, 27);
}

.inputTextArea--jss-0-877 textarea {
    outline-color: initial;
    border-color: transparent;
    background-image: none;
    background-color: transparent;
    color: rgb(186, 181, 171);
}

.inputTextArea--jss-0-877 textarea:focus {
    outline-color: initial;
}

.inputTextAreaLabel--jss-0-882 {
    color: rgb(192, 188, 179);
}

.fieldLabel--jss-0-901 {
    color: rgb(110, 110, 110);
}

.microCopy--jss-0-905 {
    color: rgb(130, 130, 130);
}

.fieldLabel--jss-0-901 {
    color: rgb(192, 188, 179);
}

.microCopy--jss-0-905 {
    color: rgb(186, 181, 171);
}

.tip--jss-0-1104 {
    color: #999;
}

.tip--jss-0-1104 {
    color: rgb(186, 181, 171);
}

.modalContent--jss-0-3058 {
    background-color: rgb(240, 240, 240);
}

.modalContent--jss-0-3058 {
    background-color: rgb(28, 30, 31);
}

.modalHeadbar--jss-0-3079 {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.modalActions--jss-0-3081:hover {
    color: rgb(0, 255, 0);
}

.modalHeadbar--jss-0-3079 {
    background-color: rgb(48, 50, 53);
    color: rgb(255, 255, 255);
}

.modalActions--jss-0-3081:hover {
    color: rgb(51, 255, 51);
}

.returnDashboard--jss-0-2026 {
    background-image: initial;
    background-color: rgb(34, 36, 37);
}

.listsSep--jss-0-1950 {
    color: rgba(232, 230, 227, 0.4);
}

.treeWrap--jss-0-1990 {
    color: rgb(223, 220, 215);
}


/* color picker  */

div.grid--jss-0-239>div:nth-child(1)>div>div>div>div>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>div:nth-child(1),
div.grid--jss-0-239>div:nth-child(1)>div>div>div>div>div:nth-child(2)>div:nth-child(2),
.chrome-picker {
    box-shadow: none!important;
    background: var(--main-bg) !important;
}

div.grid--jss-0-239>div:nth-child(1)>div>div>div>div>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
    border: var(--main-border) !important;
}


/*! CSS Used from: Embedded ; media=screen */

@media screen {
    .swatchesColor--jss-0-395 {
        border-color: rgb(58, 58, 58);
    }
    .swatchesColorActive--jss-0-397 {
        background-image: initial;
        background-color: rgb(0, 204, 0);
    }
    .swatchesWrapper--jss-0-398 {
        border-top-color: rgb(54, 54, 54);
        background-image: initial;
        background-color: rgb(24, 26, 27);
    }
}


/* novo hover */


/*! CSS Used from: Embedded ; media=screen */

@media screen {
     :focus {
        outline-color: initial;
    }
     ::placeholder {
        color: rgb(209, 206, 199);
    }
     ::-webkit-scrollbar-track {
        box-shadow: none;
        background-image: initial;
        background-color: rgb(28, 30, 31);
    }
     ::-webkit-scrollbar-thumb {
        border-color: initial;
        background-image: initial;
        background-color: rgb(43, 45, 47);
        box-shadow: none;
    }
}


/*! CSS Used from: Embedded ; media=screen */

@media screen {
    .small--jss-0-10 svg {
        fill: currentcolor;
    }
    .tiny--jss-0-14 svg {
        fill: currentcolor;
    }
}


/*! CSS Used from: Embedded */

.treeNodeChildren--jss-0-1259.isActive {
    background: rgba(255, 255, 255, 0.3);
}

.tree--jss-0-1262 {
    display: flex;
    flex-flow: column;
    color: rgb(110, 110, 110);
    z-index: 1;
    font-size: 11px;
}

.tree--jss-0-1262.disabled {
    opacity: 0.6;
}

.treeInner--jss-0-1267 {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.treeDetails--jss-0-1270 {
    position: relative;
    height: 25px;
    display: flex;
    align-items: center;
    flex: 1;
}

.treeActionsRight--jss-0-1271 {
    color: rgb(189, 189, 189);
    display: flex;
}

.treeActionsRight--jss-0-1271:hover {
    color: rgb(23, 21, 28);
}

.treeDropIndicator--jss-0-1273 {
    height: 2px;
    position: relative;
    background-color: transparent;
    z-index: 100;
}

.treeItem--jss-0-1278 {
    flex: 1;
    z-index: 100;
    border-bottom: 1px solid rgb(222, 222, 222);
    position: relative;
}

.treeItem--jss-0-1278.active {
    background: rgb(255, 255, 255);
}

.treeFold--jss-0-1282 {
    padding: 0;
    height: 12px;
    width: 12px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(50, 50, 50);
    position: absolute;
    top: 10px;
    left: 0px;
    transform: rotate(-90deg);
    transition: transform 0.2s ease-in-out;
}

.treeFold--jss-0-1282:hover {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}

.treeFold--jss-0-1282.isActive {
    transform: rotate(0);
}

.treeIcon--jss-0-1285 {
    flex: 0 0 16px;
    margin: 0 5px;
    padding: 0;
    height: 16px;
    width: 16px;
    position: relative;
    color: rgb(130, 130, 130);
}

.treeIcon--jss-0-1285.isActive {
    color: rgb(0, 255, 0);
}

.treeLabel--jss-0-1288 {
    flex: 1 1 auto;
    border-radius: 1px;
    width: 100%;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 4px;
    padding-left: 4px;
    paddign-top: 4px;
}


/*! CSS Used from: Embedded ; media=screen */

@media screen {
    .treeNodeChildren--jss-0-1259.isActive {
        background-image: initial;
        background-color: rgba(24, 26, 27, 0.3);
    }
    .tree--jss-0-1262 {
        color: rgb(192, 188, 179);
    }
    .treeActionsRight--jss-0-1271 {
        color: rgb(196, 191, 182);
    }
    .treeActionsRight--jss-0-1271:hover {
        color: rgb(223, 220, 215);
    }
    .treeDropIndicator--jss-0-1273 {
        background-color: transparent;
    }
    .treeItem--jss-0-1278 {
        border-bottom-color: rgb(58, 58, 58);
    }
    .treeItem--jss-0-1278.active {
        background-image: initial;
        background-color: rgb(24, 26, 27);
    }
    .treeFold--jss-0-1282 {
        background-color: rgb(24, 26, 27);
        color: rgb(214, 211, 205);
    }
    .treeFold--jss-0-1282:hover {
        background-color: rgb(48, 50, 53);
        color: rgb(255, 255, 255);
    }
    .treeIcon--jss-0-1285 {
        color: rgb(186, 181, 171);
    }
    .treeIcon--jss-0-1285.isActive {
        color: rgb(51, 255, 51);
    }
}